<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Intellih Login Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fba89">  <td>20/05/12 20:58:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSuite.applaunch()[pri:0, instance:org.gradle.com.LoginSuite@3532ec19]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>20/05/12 20:59:00</td>   <td>59734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSuite.verifyValidLogin()[pri:0, instance:org.gradle.com.LoginSuite@3532ec19]">verifyValidLogin</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>20/05/12 20:59:20</td>   <td>79629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSuite.appClose()[pri:0, instance:org.gradle.com.LoginSuite@3532ec19]">&lt;&lt;appClose</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
</table>
