<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b66870">  <td>20/05/12 18:44:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSuite.applaunch()[pri:0, instance:org.gradle.com.LoginSuite@ae45eb6]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>20/05/12 18:45:40</td>   <td>41131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSuite.verifyValidLogin()[pri:0, instance:org.gradle.com.LoginSuite@ae45eb6]">verifyValidLogin</td> 
  <td>main@701141022</td>   <td></td> </tr>
</table>
